<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Hero</title>


    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex" />

    <!-- App CSS -->
    <link type="text/css" href="./assets/css/app.css" rel="stylesheet" />
    <link type="text/css" href="./assets/css/app.rtl.css" rel="stylesheet" />

    <!-- Simplebar -->
    <link type="text/css" href="./assets/vendor/simplebar.css" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed="" data-push="" data-has-scrolling-region="">
        <div class="mdk-drawer-layout__content mdk-header-layout__content--scrollable" style="overflow-y: auto;" data-simplebar="" data-simplebar-force-enabled="true">


            <div class="container h-vh d-flex justify-content-center align-items-center flex-column">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <a href="./index.html" class="drawer-brand-circle mr-2">H</a>
                    <h2 class="ml-2 text-bg mb-0"><strong>Hero PRO</strong></h2>
                </div>
                <div class="w-100">
                    <div class="card card-forgot-password mx-auto">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Email Address</label>
                                <div class="input-group input-group--inline">
                                    <div class="input-group-addon">
                                        <i class="material-icons">account_circle</i>
                                    </div>
                                    <input type="text" class="form-control" name="email" placeholder="Your email address" />
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="./index.html" class="btn btn-primary">Send</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script>
        (function() {
            'use strict';

            // Self Initialize DOM Factory Components
            domFactory.handler.autoInit();
        });
    </script>
</body>

</html>